div{
    height:100px;
    width:100px;
    border:2px solid lightblue;
    background-color: bisque;
}

.dark{
    background-color: rgba(0, 0, 139, 0.384);
    color:white;
}

.light{
    background-color: pink;
    color:black;
}